certifi==2025.6.15
charset-normalizer==3.4.2
idna==3.10
polars==1.31.0
requests==2.32.4
urllib3==2.5.0
yfinance==0.2.65
psycopg-binary==2.9.11
panda==0.3.1
dash==4.1.0
-e ./dash_lightweight_charts_component
